/*##############################################################
 * QWidget
 *############################################################*/

QWidget {
    background-color: hsl(0, 0%, 75%);
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 0;
    color: hsl(0, 0%, 0%);
    font: bold 16px "Courier New";
}

QWidget[css_class="QWidget_central"] {
    background-color: hsl(0, 0%, 62.5%);
    border: none;
}

QWidget[css_class="QWidget_large"] {
    border: 4px solid hsl(0, 0%, 0%);
}

/*##############################################################
 * QCheckBox
 *############################################################*/

QCheckBox {
    background: none;
    border: none;
}

QCheckBox::indicator {
    border: 1px solid hsl(0, 0%, 0%);
}

QCheckBox::indicator:unchecked {
    background-color: hsl(0, 0%, 90%);
}

QCheckBox::indicator:unchecked:hover {
    background-color: hsl(0, 0%, 100%);
}

QCheckBox::indicator:unchecked:pressed {
    background-color: hsl(0, 0%, 60%);
}

QCheckBox::indicator:checked {
    background-color: hsl(0, 0%, 20%);
}

QCheckBox::indicator:checked:hover {
    background-color: hsl(0, 0%, 40%);
}

QCheckBox::indicator:checked:pressed {
    background-color: hsl(0, 0%, 0%);
}

/*##############################################################
 * QComboBox
 *############################################################*/

QComboBox {
    background-color: hsl(0, 0%, 90%);
}

QComboBox:hover {
    background-color: hsl(0, 0%, 100%);
}

QComboBox:disabled {
    background-color: hsl(0, 0%, 50%);
}

/*##############################################################
 * QLabel
 *############################################################*/

QLabel {
    background: none;
    border: none;
}

QLabel[css_class="QLabel_large"] {
    font: bold 32px "Courier New";
}

/*##############################################################
 * QLineEdit
 *############################################################*/

QLineEdit {
    background-color: hsl(0, 0%, 90%);
}

QLineEdit:hover {
    background-color: hsl(0, 0%, 100%);
}

/*##############################################################
 * QPushButton
 *############################################################*/

QPushButton {
    background-color: hsl(0, 0%, 90%);
}

QPushButton:hover {
    background-color: hsl(0, 0%, 100%);
}

QPushButton:pressed {
    background-color: hsl(0, 0%, 60%);
}

QPushButton:disabled {
    background-color: hsl(0, 0%, 50%);
}

/*##############################################################
 * QTextEdit
 *############################################################*/

QTextEdit {
    background-color: hsl(0, 0%, 90%);
}